@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");

$cool-gray: #aaaac4ff;
$seasalt: #f9f7f9ff;
$old-rose: #b8737cff;
$space-cadet: #343246ff;
$davys-gray: #605e67ff;
$almond: #fae1caff;
$bittersweet-shimmer: #b6544bff;
$timberwolf: #dbd7d6ff;
$raisin-black: #312a39ff;

$font-bubble: "Bubblegum Sans", cursive;

$mobile-minbreakpoint: 320px;
$tablet-minbreakpoint: 768px;
$desktop-minbreakpoint: 1289px;
